@{
    ViewData["Title"] = "Cadastro";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindSite</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">
    <script>
        tailwind.config = { 
            theme: { 
                extend: { 
                    fontFamily: { 
                        'inria': ['"Inria Serif"', 'serif'] 
                    } 
                } 
            } 
        }
    </script>
</head>
<body class="min-h-screen bg-[#F4F3EE] flex font-sans">

    <div class="flex-1 relative overflow-hidden flex items-center justify-center">
        <img src="~/img/opacity_img.png" alt="Marca d'Água" class="w-[65%]" />
    </div>

    <div class="w-[45%] bg-[#E3DBCE] rounded-l-[50px] shadow-2xl flex items-center justify-center p-10">
        <form asp-controller="Account" asp-action="Cadastro" method="post" class="w-full max-w-sm flex flex-col gap-5">
            
            <h1 class="font-inria text-5xl text-[#6b462c] text-center mb-6 flex flex-row items-center justify-center">
                Cadastr
                <img src="~/img/logo_img.png" alt="Logo_MindSite" class="h-6 w-6 mt-3 ml-[2.5px]"/>
            </h1>

            <input type="text" name="nome" placeholder="Nome Completo" required
                   class="w-full bg-white px-6 py-4 rounded-xl shadow-inner outline-none focus:ring-2 focus:ring-[#623f25]">
            
            <input type="email" name="email" placeholder="E-mail" required
                   class="w-full bg-white px-6 py-4 rounded-xl shadow-inner outline-none focus:ring-2 focus:ring-[#623f25]">
            
            <input type="password" name="senha" placeholder="Senha" required
                   class="w-full bg-white px-6 py-4 rounded-xl shadow-inner outline-none focus:ring-2 focus:ring-[#623f25]">
            
            <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" required
                   class="w-full bg-white px-6 py-4 rounded-xl shadow-inner outline-none focus:ring-2 focus:ring-[#623f25]">

            <div class="flex flex-row justify-between gap-4 mt-6 mx-[25px]">
                <button type="submit" 
                        class="w-[150px] bg-[#6A462C] text-white py-3 rounded-2xl hover:bg-[#4d392a] font-bold">
                    Cadastrar
                </button>
                <a asp-controller="Account" asp-action="login" 
                        class="w-[150px] bg-[#926A44] text-white py-3 rounded-xl hover:bg-[#623f25] font-bold text-center">
                    Login
                </a>
            </div>

        </form>
    </div>
</body>
</html>